<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://estoredb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>estoredb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>estoredb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$estoredb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="eStoreDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ed8psib18g.database.windows.net,1433;Initial Catalog=eStoreDB;User ID=eStoreDBlogin@ed8psib18g;Password=father01." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eStoreDAL.AppDbContext, eStoreDAL" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="eStoreDAL.Model" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ed8psib18g.database.windows.net,1433;Initial Catalog=eStoreDB;User ID=eStoreDBlogin@ed8psib18g;Password=father01." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eStoreDAL.Model, eStoreDAL" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eStoreDAL.Model-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ed8psib18g.database.windows.net,1433;Initial Catalog=eStoreDB;User ID=eStoreDBlogin@ed8psib18g;Password=father01.</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eStoreDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ed8psib18g.database.windows.net,1433;Initial Catalog=eStoreDB;User ID=eStoreDBlogin@ed8psib18g;Password=father01.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="eStoreDAL.Model" />
  </ItemGroup>
</Project>