
@{
    ViewBag.Title = "Home";
}

<div class="col-lg-4"></div>
<div class="col-lg-4 text-center padTop10">
    <h1>Home</h1>
    <img src="~/img/images3.jpeg">
    <h6>&copy;Info3067 - 2015</h6>
    <br />
    <h4>@Session["message"]</h4>
</div>


