
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 text-center">

    <h1>Home</h1>
    <img src="~/img/images3.jpeg">
    <h6>&copy;Info3067 - 2015</h6>
    <br />
    <h4>@Session["message"]</h4>
</div>
